# predwikt streamlit dashboard

##### imports

!pip install streamlit

In [136]:
import streamlit as st, seaborn as sns 
import matplotlib.pyplot as plt, pandas as pd 
import pickle, datetime 
from zoneinfo import ZoneInfo
from datetime import datetime as dt
from statsmodels.tsa.arima.model import ARIMA
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

###### get the daily edits

In [7]:
datapath = '../data/'
with open(datapath + 'disaster_daily_edits.pickle', 'rb') as f:
    disaster_daily_edits = pickle.load(f)

###### peek

In [8]:
disaster_daily_edits

                           火山災害  熱帯低気圧   雪害   地震   津波
day
2019-01-01 00:00:00+09:00     3   18.0  0.0  220  207
2019-01-02 00:00:00+09:00     0    3.0  1.0  267  260
2019-01-03 00:00:00+09:00     0    2.0  0.0  274  263
2019-01-04 00:00:00+09:00     0    6.0  0.0  264  246
2019-01-05 00:00:00+09:00     0   15.0  0.0  267  252
...                         ...    ...  ...  ...  ...
2021-12-28 00:00:00+09:00     3    3.0  0.0  284  274
2021-12-29 00:00:00+09:00     1    4.0  0.0  361  343
2021-12-30 00:00:00+09:00     0    3.0  0.0  344  322
2021-12-31 00:00:00+09:00    12    4.0  1.0  380  373
2022-01-01 00:00:00+09:00     2    0.0  0.0   87   76

[1097 rows x 5 columns]

###### ------

##### -----

## streamlit

In [47]:
train_weeks = 16

In [150]:
days_lags = 7
days_train = 7*50
# days_predict = 7
ja_tz = ZoneInfo(key='Japan')
first_valid_date = (disaster_daily_edits.index.min().to_pydatetime()
              + datetime.timedelta(days= 1))  # one day margin for potentially incomplete day of data 
last_valid_date = (disaster_daily_edits.index.max().to_pydatetime()
              - datetime.timedelta(days= 1))  # one day margin for potentially incomplete day of data

In [152]:
weeks = ((last_valid_date - first_valid_date).days - days_lags - days_train) // 7
first_week_start = last_valid_date - datetime.timedelta(days= 7*weeks + days_lags + days_train)

In [153]:
from statsmodels.tsa.arima.model import ARIMA

In [ ]:
arma = ARIMA()

5

In [139]:
ridge_alpha=50
lrs = {}
for i in range(weeks):
    train_start = first_week_start + datetime.timedelta(days=7*i)
    predict_start = train_start + days_model
    predict_end = predict_start + datetime.timedelta(7) # discluded index
    lrs[i] = Ridge(alpha=ridge_alpha)
    lrs[i].fit()

In [ ]:
ridge_alpha = 50
for i in dfs:
    ri[diz] =

## not using these

min_train = st.slider('min_train', min_value=0, max_value=disaster_daily_edits.shape[0]-200)
max_train = st.slider('max_train', min_value=min_train+100, max_value=disaster_daily_edits.shape[0]-2)
min_test = st.slider('min_test', min_value=max_train+1, max_value = disaster_daily_edits.shape[0]-1)
max_test = st.slider('max_test', min_value=min_test+1, max_value = disaster_daily_edits.shape[0])

## --